.employee-list-item{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    font-size: larger;
    padding: 1rem 0px;
    align-items: center;
}
.employee-list-item:nth-child(odd){
    background-color: #F3F3F3;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;

}
.employee-list-item > *{
    flex-basis: 25%;
}
