.employee-list {
    border-bottom: 5px solid #01987A;
    width: 80vw;
    margin: auto;
    margin-top: 4rem;
}

.employee-list-header {
    display: flex;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #01987A;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: xx-large;
    color: white;
}

.employee-list-header> * {
    flex-basis: 25%;
}
.group-small{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}